.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;

}

th {
  text-align: left;
}
/*
#stats {
  background-color: #FA7878;
}*/

#stats_welcome {
  text-align: center;
}

#games_played {
  text-align: center;
}

.navbar {
  padding-left: 18%;
}

.home {
  float: left;
  position: relative;
  bottom:100px;
  padding: 3px;
  border: 1px solid #789BFA;
  border-radius: 7px;
  color: black;
  background-color: #789BFA;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}

.btn {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

body
{
  background-image: url('/img/flash_running_fade.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

