<div class="container">
	<h3>CORRECT!</h3>
	<form action='/rounds/question_screen/<%=@round.id%>'>
    	<button type="submit" value="Continue" class="btn btn-default navbar-btn">Continue</button>
	</form>
</div>