<body style='padding-left: 200px;'>
  <%= @card.question %>  
  <form action='/rounds/<%=@round_id%>/cards/<%=@card.id%>/answer' method='post'>
    <input type='word' placeholder='guess' name='guess'><br>
    <input type='submit' value='guess!'>
  </form>
</body>



