<div class="container">
  <h1>Welcome to Flashmob!</h1>
  <p>Hello, beautiful user!</p>

  <form id="sign_in" action="/sign_in" method="post">
    Username: <input type="text" name="username">
    <br>
    Password: <input type="password" name="password">
    <input type="submit" value="Sign in!">
  </form>
  <br>
  <br>
  <form id="sign_up" action="/sign_up" method="post">
    <p>New user?</p>
    Username: <input type="text" name="username">
    <br>
    Password: <input type="password" name="password">
    <input type="submit" value="Create account here!">
  </form>
<!--    form for logging in user

   form for creating new user -->

</div>
