<div class="container">

  <% if @messages.any? %>
    <% @messages.each do |message| %>
      <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= message %>
      </div>
    <% end %>
  <% end %>

  <h1>Welcome to Flashmob!</h1>
  <img src="/img/flash_mob_logo.gif">
  <p>Already in the mob?</p>
  
  <form id="sign_in" action="/sign_in" method="post">
    <div class="input-group">
    <input type="text" class="form-control" placeholder ="Username" name="username">
    <br>
    <input type="password" class="form-control" placeholder ="Password" name="password">
    <br> <br>
    <input type="submit" value="Sign in!">
  </form>
  <br>
  <br>
  <p>Want in?</p>
  <form id="sign_up" action="/sign_up" method="post">
    <input type="text" class="form-control" placeholder ="Username" name="username">
    <br>
    <input type="password" class="form-control" placeholder ="Password" name="password">
    <br> <br>
    <input type="submit" value="Create account here!">
  </form>

</div>
