<h1>You've finished the round!</h1>

You guessed <%= @correct_guesses %> cards correctly!
<br>
You guessed <%= @incorrect_guesses %> cards incorrectly!
<br>
<a href='/users/<%=@round.user_id%>'>Return to your page</a>