<div class="container">
 
 	<h1>You've finished the round!</h1>

<p>You guessed <%= @correct_guesses %> cards correctly!
</p>
<p>You guessed <%= @incorrect_guesses %> cards incorrectly!
</p>
<br>

<form action='/users/<%=@round.user_id%>'>
   <button type="submit" value="Return" class="btn btn-default navbar-btn">Return to your page</button>
</form>

</div>