<div class="container">

<h1>Welcome <%=User.find(session[:user_id]).username%></h1>
	<h3>Available decks to play:</h3>
	<form id="pick_deck" action="/rounds" method="post">
  		<% @all_decks.each do |deck| %>
    	<input type="radio" name="deck_id" value="<%=deck.id%>"> <%=deck.name%><br>
  		<% end %><br>
  		<button type="submit" value="Start game!" class="btn btn-default navbar-btn">Start Game</button>
	</form>
<br>
<br>
	<form action='/users/stats/<%=session[:user_id]%>'>
    	<button type="submit" value="Continue" class="btn btn-default navbar-btn">Stats</button>
	</form>


	<form  method='post' action='/create_deck'>
  	<div class="input-group">
  		<span class="input-group-addon"></span>
  		<input type="text" class="form-control" placeholder="Deck Name" name='name'></br>
  		<button type="submit" value="deck" class="btn btn-default navbar-btn">Create Deck</button>
    </div>
  </form>

</div>
