<h1>Welcome to the User Page!</h1>

<p>Select a deck to start a game:</p>

<form id="pick_deck" action="/rounds" method="post">
  <% @all_decks.each do |deck| %>
    <input type="radio" name="deck_id" value="<%=deck.id%>"> <%=deck.name%>
    <br>
  <% end %>
  <br>
  <input type="submit" value="Start game!">
</form>
