<h1>Welcome to the User Page!</h1>

<p>Available decks:</p>

<form id="pick_deck" action="/rounds" method="post">
  <% @all_decks.each do |deck| %>
    <input type="radio" name="Decks" value=<%=deck.id%>> <%=deck.name%>
    <br>
  <% end %>
  <br>
</form>

<br>

<br>

<br>


<!-- Display last round stats

Add previous rounds button to go to page with all stats -->
